body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: "Poppins", sans-serif;
}

.navbar__child {
    padding-top: 56px;
    height: 100vh;
}

.date-input {
    width: 270px;
}

.form__label {
    font-size: 1.25rem;
    width: 9.2rem;
}

.navbar-toggler:focus,
.btn-outline-primary:focus {
    box-shadow: none;
}
